*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    /* width: 1600px;
    height: 808px; */ 
    /* according to figma size */
}
.heading_content{
    text-align: right;
    margin-right: 10%;
    margin-left: 60%;
    padding-top: 10rem;
}
.heading_content h1{
   font-size: 50px;
   margin-bottom: 1.5rem;
}

.heading_content p{
    /* width: 495px; */
    /* height: 80px; */
    /* according to figma size */
    font-size: 16px;
    margin-bottom: 1.5rem;
}
.heading_content button{
    width: 160px;
    height: 65px;
    background-color: #f15b22;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 10rem;
}

/* main content */

.main_content{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;
    gap: 5rem;
}
.main_sub_content h1{
    font-size: 50px;
}
.main_sub_content p{
    color: grey;
}
.main_text{
    font-size: 16px;
    margin-top: .85rem;
}

.list_item{
    display: flex;
    margin-top: .75rem;
    align-items: center;
}
.list_item i{
    color: green;
    margin-right: .5rem;
    font-weight: bolder;
}

/* my plans  */
.my_plan{
    /* display: flex; */
    justify-content: center;
}
.plan_head{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
/* .plans{
    margin-right: 5rem;
    margin-left: 5rem;
}
.plan_content{
   display: flex;
   justify-items: center;
   align-items: center;
} */

.plans {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

.plan_content {
    text-align: center;
}
.plan_content p{
    color: grey;
}