*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    /* width: 1600px;
    height: 808px; */ 
    /* according to figma size */
}
.heading_content{
    text-align: right;
    margin-right: 10%;
    margin-left: 60%;
    padding-top: 10rem;
}
.heading_content h1{
   font-size: 50px;
   margin-bottom: 1.5rem;
}

.heading_content p{
    /* width: 495px; */
    /* height: 80px; */
    /* according to figma size */
    font-size: 16px;
    margin-bottom: 1.5rem;
}
.button{
    width: 160px;
    height: 65px;
    background-color: #f15b22;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
}

#button_1{
    /* margin-bottom: 10rem; */
    padding-bottom: 10rem;
}

/* main content */

.main_content{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 8rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;
    gap: 5rem;
}
.main_sub_content h1{
    font-size: 50px;
}
.main_sub_content p{
    color: grey;
}
.main_text{
    font-size: 16px;
    margin-top: .85rem;
}

.list_item{
    display: flex;
    margin-top: .75rem;
    align-items: center;
}
.list_item i{
    color: green;
    margin-right: .5rem;
    font-weight: bolder;
}

/* my plans  */
.my_plan{
    /* display: flex; */
    justify-content: center;
}
.plan_head{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    text-decoration: underline;
}
/* .plans{
    margin-right: 5rem;
    margin-left: 5rem;
}
.plan_content{
   display: flex;
   justify-items: center;
   align-items: center;
} */

.plans {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 8rem;
}

.plan_content {
    text-align: center;
}
.plan_content p{
    color: grey;
}

/* positive_mindset */

.positive_mindset{
    position: relative;
    background-image: url('../images/watch.png');
    height: 300px;
    background-size: cover;
    margin: 0rem 5rem 5rem;
    border-radius: 10px;
}
.overlay_img{
    position: absolute;
    /* display: inline-block; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay_head{
    position: absolute;
    color: white;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 60%;
    /* top: 25%; */
    /* left: 25%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 1; */
}
.overlay_head h1{
    margin-bottom: 1.5rem;
}

/* #button_2{
    background-color: white;
    color: #f15b22;
    font-weight: bold;
} */
.button_2{
    background-color: white;
    color: #f15b22;
    font-weight: bold;
}

/* test */

/* .image_container{
    position: relative;
    display: inline-block;
}
.overlay_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.overlay_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.overlay_content h1{
    font-size: 2rem;
    margin-bottom: 1.2rem;
} */
/* footer */

.footer{
    background-color: black;
    color: #ffffff;
    height: 450px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.footer_container{
    display: flex;
    /* align-items: center; */
    margin-right: 10%;
    margin-left: 10%;
    gap: 25rem;
    /* justify-content: center; */
}
.footer_container h1{
    padding-bottom: 1rem;
}
.footer_container p{
    padding-bottom: 1rem;
}
.footer_container a{
    margin-right: 1rem;
    text-decoration: none;
}
/* subscribe  */

.subscribe h2{
    margin-bottom: 1rem;
}
.input{
    margin-bottom: 2rem;
    padding: .80rem 1rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: #ffffff;
    
}